$playIconSize: 10px;
$borderSize: $playIconSize / 2;
$barSize: $playIconSize / 4;
$controlColor: rgb(235, 15, 15);

.playListTriangle {
  width: 0px;
  height: $playIconSize;
  border: 0;
  background: transparent;
  box-sizing: border-box;
  transition: 100ms all ease;
  cursor: pointer;
  border-style: solid;
  display: inline-block;
  vertical-align: middle;
  transition-duration: 300ms;
  border-color: transparent transparent transparent transparent;
  margin-right: 0px;
  &.enter-done {
    width: $playIconSize;
    transition-duration: 300ms;
    border-width: $borderSize 0 $borderSize $playIconSize;
    border-color: transparent transparent transparent $controlColor;
    margin-right: 5px;
  }
  &.exit-done {
    width: 0px;
    transition-duration: 300ms;
    border-width: 0 0 0 0;
    border-color: transparent transparent transparent $controlColor;
    margin-right: 0px;
  }
}
